flows.json
[
    {
        "id": "6b68b0b6532ae730",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d75343ba8ffbdddd",
        "type": "ui_gauge",
        "z": "6b68b0b6532ae730",
        "name": "PM2.5 Real Time",
        "group": "4686a016b3103968",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM2.5 Real Time",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "3be7fa3279d73c45",
        "type": "ui_chart",
        "z": "6b68b0b6532ae730",
        "name": "PM2.5 Last Day",
        "group": "4686a016b3103968",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PM2.5 Last Day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f03fc53e99b4c1e0",
        "type": "ui_gauge",
        "z": "6b68b0b6532ae730",
        "name": "PM10 Real Time",
        "group": "f9960e43f15ff980",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM10 Real Time",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "6665a9d561dc3394",
        "type": "ui_chart",
        "z": "6b68b0b6532ae730",
        "name": "PM10 Last Day",
        "group": "f9960e43f15ff980",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PM10 Last Day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d09c85e4445f6619",
        "type": "mqtt in",
        "z": "6b68b0b6532ae730",
        "name": "PM2_5",
        "topic": "air_quality_monitor/pm2_5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "191e28f7660b3d09",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "d75343ba8ffbdddd",
                "3be7fa3279d73c45",
                "c484aa39279a78f4"
            ]
        ]
    },
    {
        "id": "a7d896147629679a",
        "type": "mqtt in",
        "z": "6b68b0b6532ae730",
        "name": "PM10",
        "topic": "air_quality_monitor/pm10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "191e28f7660b3d09",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "f03fc53e99b4c1e0",
                "6665a9d561dc3394",
                "d15babce3b93a496"
            ]
        ]
    },
    {
        "id": "acf137e045716fde",
        "type": "mysql",
        "z": "6b68b0b6532ae730",
        "mydb": "695d8cf2ba121568",
        "name": "",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "1d871e38abdcd09c"
            ]
        ]
    },
    {
        "id": "da2395f69c5f4cbb",
        "type": "mysql",
        "z": "6b68b0b6532ae730",
        "mydb": "695d8cf2ba121568",
        "name": "",
        "x": 550,
        "y": 780,
        "wires": [
            [
                "c866633f34714b57"
            ]
        ]
    },
    {
        "id": "c484aa39279a78f4",
        "type": "function",
        "z": "6b68b0b6532ae730",
        "name": "Insert PM2_5",
        "func": "msg.topic = \"INSERT INTO pm2_5 (Valore) VALUES(\" + msg.payload + \"); \"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "acf137e045716fde"
            ]
        ]
    },
    {
        "id": "1d871e38abdcd09c",
        "type": "debug",
        "z": "6b68b0b6532ae730",
        "name": "debug pm2_5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "d15babce3b93a496",
        "type": "function",
        "z": "6b68b0b6532ae730",
        "name": "Insert PM10",
        "func": "msg.topic = \"INSERT INTO pm10 (Valore) VALUES(\" + msg.payload + \"); \"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 780,
        "wires": [
            [
                "da2395f69c5f4cbb"
            ]
        ]
    },
    {
        "id": "c866633f34714b57",
        "type": "debug",
        "z": "6b68b0b6532ae730",
        "name": "debug pm10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "4686a016b3103968",
        "type": "ui_group",
        "name": "PM2.5",
        "tab": "d0ba01c7dfdd6ee5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9960e43f15ff980",
        "type": "ui_group",
        "name": "PM10",
        "tab": "d0ba01c7dfdd6ee5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "191e28f7660b3d09",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "695d8cf2ba121568",
        "type": "MySQLdatabase",
        "name": "NodeRedDB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "NodeRedDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d0ba01c7dfdd6ee5",
        "type": "ui_tab",
        "name": "PM Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]