flows.json
[
    {
        "id": "d84e0d8ecbf59b72",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e39368bb39c2c612",
        "type": "inject",
        "z": "d84e0d8ecbf59b72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "80a327e48ca3546d"
            ]
        ]
    },
    {
        "id": "80a327e48ca3546d",
        "type": "debug",
        "z": "d84e0d8ecbf59b72",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "1b3f7e9676d50f56",
        "type": "ui_gauge",
        "z": "d84e0d8ecbf59b72",
        "name": "PM2.5 Real Time",
        "group": "4686a016b3103968",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "3e68c335dc702b1c",
        "type": "ui_chart",
        "z": "d84e0d8ecbf59b72",
        "name": "PM2.5 Last Day",
        "group": "4686a016b3103968",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a2dab5c2b048bde8",
        "type": "ui_date_picker",
        "z": "d84e0d8ecbf59b72",
        "name": "Date",
        "label": "Date",
        "group": "4686a016b3103968",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 350,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2b18d019f02e4f8f",
        "type": "ui_date_picker",
        "z": "d84e0d8ecbf59b72",
        "name": "Date",
        "label": "Date",
        "group": "f9960e43f15ff980",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "977788231326dec3",
        "type": "ui_gauge",
        "z": "d84e0d8ecbf59b72",
        "name": "PM10 Real Time",
        "group": "f9960e43f15ff980",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "1c015f0c4609cd8a",
        "type": "ui_chart",
        "z": "d84e0d8ecbf59b72",
        "name": "PM10 Last Day",
        "group": "f9960e43f15ff980",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2f21ec72743d99d1",
        "type": "mqtt in",
        "z": "d84e0d8ecbf59b72",
        "name": "",
        "topic": "Air Quality",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e621ea5dbe96670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "1b3f7e9676d50f56",
                "3e68c335dc702b1c"
            ]
        ]
    },
    {
        "id": "a9bec24fa116f362",
        "type": "mqtt in",
        "z": "d84e0d8ecbf59b72",
        "name": "",
        "topic": "Air Quality",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e621ea5dbe96670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 900,
        "wires": [
            [
                "977788231326dec3",
                "1c015f0c4609cd8a"
            ]
        ]
    },
    {
        "id": "4686a016b3103968",
        "type": "ui_group",
        "name": "PM2.5",
        "tab": "d0ba01c7dfdd6ee5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9960e43f15ff980",
        "type": "ui_group",
        "name": "PM10",
        "tab": "d0ba01c7dfdd6ee5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e621ea5dbe96670",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d0ba01c7dfdd6ee5",
        "type": "ui_tab",
        "name": "PM Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]